body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.movie-info {
    margin-bottom: 20px;
    text-align: center;
}

.movie-info h2 {
    margin: 0;
}

.seat-selection {
    margin-bottom: 20px;
}

.seat-selection label {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
}