.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .seat-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .seat {
    background-color: #ddd;
    border: none;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
  }
  
  .seat.selected {
    background-color: #00bcd4;
  }
  
  .selected-seats {
    margin-top: 20px;
  }
  
  .selected-seats ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .selected-seats li {
    display: inline-block;
    margin: 5px;
    background-color: #00bcd4;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  .screen{
    width: auto;
    height: 100px;
    background-color: wheat;
    border: black dotted;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

  }

  .screen p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .buy button {
    background-color: #0c9d20;
    width: 100px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border: none;
    
  }